tmp
dist
test
node_modules
*.tgz
.npmignore
.circleci
.github
.editorconfig
.eslintignore
.eslintrc
.gitattributes
.huskyrc
.jsdoc.json
.prettierignore
.prettierrc
.retireignore.json
greenkeeper.json
tsconfig.json
!build/test